#cuadro-creditos{
    padding: 1rem 0;
    text-align: center;
}

h1{
    text-align: center;
}

h5{
    min-width: 9rem;
}

#herramientas{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.boton-pagina{
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    color: white;
    background-color: rgb(75, 36, 248);
}

.boton-pagina:hover{
    background-color: rgb(60, 25, 220);
}

#numero-pagina{
    margin: 1rem;
    border: 1px solid;
    padding: 0.2rem 0.5rem;
    border-radius: 15%;
    color: white;
    background-color: rgb(75, 36, 248);
}

#numero-pagina:hover{
    background-color: rgb(60, 25, 220);
}

#poke-bola-imagen{
    width: 1.3rem;
    height: 1.3rem;
    display: block;
    margin: 0.5rem;
}

.lista-pokemon{
    width: 10rem;
    height: 2rem;
    display: flex;
    
}

.codigo-pokemon{
    align-self:center;
    margin: auto 0.5rem;
}

.nombre-pokemon{
    align-self:center;
    padding-left: 0.5rem;
    margin: auto 0.5rem;
}

#input-buscar-pokemon{
    width: 15vw;
    height: 100%;
    align-self: center;
    padding: 0.23rem 0.05rem;
    margin: 1rem 0.5rem;
}


.especificaciones{
    background-color: black;
}

#especificaciones-imagen {
    width: 30%;
    display: block;
    margin: auto;
    border: solid;
}

#especificaciones-nombre{
    text-align: center;
    padding: 0.5rem;
}

.especificaciones{
    padding: 0.5rem 0 0.5rem 1rem;
}

.especificaciones-valor{
    display: contents;
}
