*{
    font-family: 'Bebas Neue', cursive;
}

#cuadro-creditos{
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
}

h1{
    text-align: center;
    margin-top: 1rem;
}

h5{
    min-width: 9rem;
}

#herramientas{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.boton-pagina{
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    color: white;
    background-color: rgb(75, 36, 248);
}

.boton-pagina:hover{
    background-color: rgb(60, 25, 220);
}

#numero-pagina{
    margin: 1rem;
    border: 1px solid;
    padding: 0.2rem 0.5rem;
    border-radius: 15%;
    color: white;
    background-color: rgb(75, 36, 248);
}

#numero-pagina:hover{
    background-color: rgb(60, 25, 220);
}

#poke-bola-imagen{
    width: 1.3rem;
    height: 1.3rem;
    display: block;
}

.lista-pokemon{
    width: 100%;
    align-items: center;
    display: flex;
    border: 1px solid;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
}

.lista-pokemon:hover{
    cursor: pointer;
}

.nombre-pokemon{
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

#input-buscar-pokemon{
    width: 15vw;
    height: 100%;
    align-self: center;
    padding: 0.23rem 0.05rem;
    margin: 1rem 0.5rem;
}

#input-buscar-pokemon{
    text-align: center;
}

.frase{
    text-align: center;
}

.cuadro{
    padding: 2rem 1rem;
    border: 5px solid black;
    margin: 0.2rem;
    background-color: rgba(100, 100, 150, 0.9);
    color: white;
}



.seleccionado{
    background-color: rgba(1, 150, 120, 1);
}

.cuadro-detalles{
    text-align: center;
    padding: 1rem 0rem;
    font-size: 1.2rem;
    border: 1px solid white;
    background-color: rgba(1, 150, 120, 1);
    font-size: 1.2rem;
}

#especificaciones-imagen {
    width: 30%;
    display: block;
    margin: auto;
    border: 0.5rem solid;
    background-color: white;
    border-color: black;
}

#especificaciones-nombre{
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
}

.especificaciones{
    padding: 0.5rem 0 0.5rem 3rem;
    font-size: 1.2rem;
}

.especificaciones-valor{
    display: contents;
}
